@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Khula:wght@400;600;700&family=Noto+Sans+Arabic:wght@200;400;600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Cairo", "Noto Sans Arabic",
    "Khula", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    /* 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll !important;
}
a {
  text-decoration: none;
  color: unset;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* hide scrollbar */
::-webkit-scrollbar {
  height: 10px;
  width: 5px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #476a11;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3c598;
}
